/**
 *  2023 - DEV
 *  Developer: Kenneth Obsequio
 *  GitHub: https://github.com/lash0000
 *  License: GPL v3.0
 *
 */

footer {
    padding: 2em;
}
.lash-finale-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width-lg);
    margin: 0 auto;
    font-size: 1.157em;
}
.lash-custom a {
    color: var(--lash-high-light);
}
.lash-nav a:first-child,
.lash-nav a:nth-child(2) {
    margin-right: 0.657em;
}
@media (min-width: 320px) and (max-width: 480px) {
    footer {
        padding: 1em;
    }
    .lash-finale-details {
        align-items: flex-start;
        flex-direction: column;
        font-size: 1.257em;
    }
    .lash-custom {
        margin-bottom: 0.657em;
    }
    .lash-nav a:first-child {
        margin-right: 0.657em;
    }
}