footer {
    padding: 2em;
}
.lash-finale-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width-lg);
    margin: 0 auto;
    font-size: 1.257em;
}
.lash-nav a {
    color: var(--lash-dark-text); /* add dark mode */
}
.lash-custom a {
    color: var(--lash-high-light);
}
.lash-nav a:first-child {
    margin-right: 0.657em;
}
@media (min-width: 320px) and (max-width: 480px) {
    footer {
        padding: 1em;
    }
    .lash-finale-details {
        align-items: flex-start;
        flex-direction: column;
        font-size: 1.257em;
    }
    .lash-custom {
        margin-bottom: 0.657em;
    }
    .lash-nav a:first-child {
        margin-right: 0.657em;
    }
}