/**
 *  2023 - DEV
 *  Developer: Kenneth Obsequio
 *  GitHub: https://github.com/eyelash128
 *  License: GNU v3.0
 * 
 *  Don't get me wrong coz I want to use my libraries in 2021 era.
 * 
 */

.lash-nav-contain {
    /* border: 1px solid #000; */
    padding: 1.257em;
}
.lash-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--max-width-lg);
}
.lash-toggle {
    background: white;
    border: 1px solid var(--lash-light-stroke);
    padding: 0.45em 0.65em;
    font-size: 1.45em;
    border-radius: var(--rounded-sm);
    cursor: pointer;
}
.lash-toggle:hover {
    background: var(--lash-light-stroke);
}
@supports not (display: flex) {
    .lash-parent {
        display: block;
    }
}
@media (min-width: 320px) and (max-width: 640px) {
    .lash-toggle {
        padding: 0.25em 0.45em;
        font-size: 1.25em;
        border-radius: var(--rounded-sm);
        cursor: pointer;
    }
}