.lash-intro-container {
    padding: 1.675em;
}
.lash-intro-parent {
    display: flex;
    align-items: flex-start;
    max-width: var(--max-width-lg);
    flex-direction: column;
    margin: 0 auto;
}
.lash-intro {
    width: 620px;
    word-break: normal;
    color: var(--lash-dark-text);
}
.lash-intro span {
    font-size: 2.275em;
    font-weight: bold;
    display: block;
    margin-bottom: 0.127em;
}
.lash-intro figcaption {
    font-size: 1.257em;
    margin-bottom: 0.25em;
}
.lash-alternatives a {
    font-size: 2em;
    letter-spacing: 0.02em;
}

@media (min-width: 320px) and (max-width: 640px) {
    .lash-intro {
        width: unset;
    }
    .lash-intro span {
        font-size: 1.875em;
    }
    .lash-intro figcaption {
        font-size: 0.957em;
        margin-bottom: 0.25em;
    }
}