/**
 *  2023 - DEV
 *  Developer: Kenneth Obsequio
 *  GitHub: https://github.com/lash0000
 *  License: GPL v3.0
 *
 */

.lash-intro-container {
    padding: 1em;
}
.lash-intro-parent {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: var(--max-width-lg);
    flex-direction: row;
    margin: 0 auto;
}
.lash-intro {
    width: 620px;
    word-break: normal;
    color: var(--lash-dark-text);
}
.lash-intro span {
    font-size: 2.275em;
    font-weight: bold;
    display: block;
    margin-bottom: 0.127em;
}
.lash-intro figcaption {
    font-size: 1.257em;
    margin-bottom: 0.25em;
}
.lash-alternatives a {
    font-size: 2em;
    letter-spacing: 0.02em;
}

/* from search design */

@media (min-width: 320px) and (max-width: 640px) {
    .lash-intro {
        width: unset;
    }
    .lash-intro span {
        font-size: 1.875em;
    }
    .lash-intro figcaption {
        font-size: 0.957em;
        margin-bottom: 0.25em;
    }
}

/* SEARCH INPUT */

.lash-search {
    position: relative;
}
.lash-search input {
    background: var(--lash-search-light);
    border: 1px solid var(--lash-light-stroke);
    padding: 0.657em;
    border-radius: var(--rounded-md);
}
.lash-search input[disabled] {
    cursor: pointer;
}
.keymap {
    position: absolute;
    top: 50%;
    left: 85.667%;
    background: var(--lash-light-text);
    color: var(--lash-dark-text);
    font-weight: bold;
    padding: 0.257em 0.5em;
    border-radius: var(--rounded-sm);
    transform: translate(-50%, -50%);
    border: 1px solid var(--lash-light-stroke);
    pointer-events: none;
}