.lash-art-parent {
    display: flex;
    align-items: flex-start;
    max-width: var(--max-width-lg);
    flex-direction: column;
    margin: 0 auto;
}
.lash-art-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.245em;
    margin-bottom: 1em;
}
.f-col {
    width: 100%;
}

/* ARTICLE DESIGN STARTS HERE */

.lash-articles {
    width: 100%;
    display: grid;
    gap: 1.475em;
}
.my-art {
    background: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid var(--lash-light-stroke);
    overflow: hidden;
    border-radius: var(--rounded-md);
}
.l-col {
    width: 400px;
}
.l-col img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%);
}
.art-tags {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    border-top: 1px solid var(--lash-light-stroke);
    position: absolute;
    padding-left: 1.257em;
    padding-top: 0.80em;
}
.art-tags div {
    margin-right: 0.657em;
}
.art-header {
    padding: 1.257em;
}
.art-header span,
.art-header figcaption {
    color: var(--lash-high-light);
}
.art-header div,
.art-header span {
    font-size: 1.257em;
}
.art-tags div,
.art-header figcaption {
    font-size: 0.857em;
}

@supports not (display: grid) {
    .lash-articles {
        display: flex;
        flex-wrap: wrap;
    }
    .my-art {
        width: 100%;
        margin-bottom: 1.475em;
    }
}