.lash-art-container {
    padding-bottom: 2em;
}
.lash-art-parent {
    display: flex;
    align-items: flex-start;
    max-width: var(--max-width-lg);
    /* flex-direction: column; */
    margin: 0 auto;
}