/**
 *  2023 - DEV
 *  Developer: Kenneth Obsequio
 *  GitHub: https://github.com/lash0000
 *  License: GPL v3.0
 *
 */

/**
 *  prefers-color-scheme is totally GOAT🐐
 */

/* homepage */
.dark-mode {
  background-color: var(--lash-dark-bg);
  color: var(--lash-light-text);
}
.dark-mode a {
  color: var(--lash-light-text);
}
.dark-mode .lash-toggle,
.dark-mode .my-art {
  border: 1px solid var(--lash-dark-stroke);
}
.dark-mode .lash-intro {
  color: var(--lash-light-text);
}

/* article page */

.dark-mode .art-tags {
  border-top: 1px solid var(--lash-dark-stroke);
}
.dark-mode .art-header span,
.dark-mode .art-header figcaption {
  color: var(--lash-high-dark);
}
.dark-mode .lash-article-body picture img,
.dark-mode .lash-article-body video {
  border: 1px solid var(--lash-dark-stroke);
}
.dark-mode .media-info {
  color: var(--lash-high-dark);
}
.dark-mode .after-reading {
  background: var(--lash-end-reading-dark);
  border: 1px solid var(--lash-dark-stroke);
}

/* single layout page */

.dark-mode .single-art {
  border: 1px solid var(--lash-dark-stroke);
}
.dark-mode .single-art-tags {
  border-top: 1px solid var(--lash-dark-stroke);
}
.dark-mode .single-art-header span,
.dark-mode .single-art-header figcaption {
  color: var(--lash-high-dark);
}
.dark-mode .copied-text {
  color: var(--lash-high-dark);
}

/* search filtering */

.dark-mode .lash-search input,
.dark-mode .keymap {
  background: var(--lash-dark-bg);
  border: 1px solid var(--lash-dark-stroke);
  color: var(--lash-light-text);
}

.dark-mode .lash-search-modal {
  background: rgba(158, 26, 66, 0.6); /* opacity trick from tailwind */
}
.dark-mode .lash-search-parent {
  background: var(--lash-dark-text);
}
.dark-mode .modal-search input {
  background: var(--lash-dark-bg);
  border: 1px solid var(--lash-dark-stroke);
  color: var(--lash-light-text);
}
.dark-mode #lash-watermark {
  color: var(--lash-light-text);
}

/* Glider supports dark mode */

.dark-mode .glide__slide {
  border: 1px solid var(--lash-dark-stroke);
}
.dark-mode .glide__paragraph {
  color: var(--lash-high-dark);
}
.dark-mode .glide__bullet {
  background-color: var(--lash-dark-stroke);
}
.dark-mode .glide__bullet--active {
  background-color: var(--lash-high-dark);
}

/** end of color scheme **/

:root {
  --max-width-lg: 920px;
  --max-width-md: 760px;
  --lash-dark-text: #242424;
  --lash-light-text: #ffffff;
  --lash-dark-bg: #1a1a1a;
  --rounded-sm: 0.257em;
  --rounded-md: 0.375em;
  --rounded-lg: 0.675em;
  --lash-light-stroke: #e6e6e6;
  --lash-dark-stroke: #2e2e2e;
  --lash-high-light: #969696;
  --lash-high-dark: #7e73a9;
  --lash-end-reading: #fbf7f7;
  --lash-end-reading-dark: #1D1D1D;
  --lash-copied-text-light: #757575;
  --lash-search-light: #f6f6f6;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  isolation: isolate;
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Outfit", sans-serif;
  /* transition: all 0.3ms ease-in; */
}

body a {
  color: var(--lash-dark-text);
}

ul {
  padding: 0;
  list-style-type: none;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.257em;
  overflow-wrap: break-word;
}

/* screen below 320px */
@media (max-width: 319px) and (min-width: 0px) {
  body {
    display: none;
    visibility: hidden;
  }
}
