.lash-watchlist-container {
    padding: 1em;
}
.lash-watchlist-parent {
    color: var(--lash-dark-text);
    margin: 0 auto;
    max-width: var(--max-width-lg);
}
.lash-watchlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
}
.lash-watchlist figure {
    font-weight: bold;
    font-size: 1.257em;
}
.watchlist-pics {
    display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 1em;
}
.watchlist-pics picture {
    border-radius: var(--rounded-md);
    overflow: hidden;
}
.watchlist-pics img {
    height: 300px;
    object-fit: cover;
    transition: transform 0.3s ease-in-out; 
}
.watchlist-pics img:hover {
    transform: scale(1.25);
}