/**
 *  2023 - DEV
 *  Developer: Kenneth Obsequio
 *  GitHub: https://github.com/lash0000
 *  License: GPL v3.0
 *
 */

.lash-watchlist-container {
    padding: 1em;
}
.lash-watchlist-parent {
    margin: 0 auto;
    max-width: var(--max-width-lg);
}
.lash-watchlist {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
}
.lash-watchlist figure {
    font-weight: bold;
    font-size: 1.257em;
}