/**
 *  2023 - DEV
 *  Developer: Kenneth Obsequio
 *  GitHub: https://github.com/lash0000
 *  License: GPL v3.0
 *
 */

@import url("../abstract/reset.module.css");
@import url("../abstract/header.module.css");
@import url("./modules/article.module.css");
@import url("../abstract/node.module.css");
@import url("./modules/end.module.css");

.scrollbtn {
    position: fixed;
    bottom: 2em;
    right: 20%;
    border-radius: 100%;
    font-size: 1.457em;
    cursor: pointer;
    display: none; /* override if not working */
}
@media (min-width: 320px) and (max-width: 640px) {
    .scrollbtn {
        position: fixed;
        bottom: 1em;
        right: 5%;
        border-radius: 100%;
        font-size: 1.457em;
        cursor: pointer;
    }
}