.article-container {
    padding: 1em;
    margin: 0 auto;
    max-width: var(--max-width-md);
}
.article-parent {
    display: flex;
    align-items: left;
    flex-direction: column;
}
.lash-article-body figure {
    text-transform: uppercase;
    font-size: 1.057em;
}
.lash-article-body header {
    font-size: 2.457em;
    font-weight: bold;
}
.lash-article-body figcaption {
    font-size: 1.257em;
    word-break: normal;
}
/* space-y-1 */
.lash-article-body figcaption,
.lash-article-body picture,
.lash-article-body aside {
    margin-bottom: 0.657em;
}
.lash-article-body picture img,
.lash-article-body video {
    border-radius: var(--rounded-lg);
    border: 1px solid var(--lash-light-stroke);
    overflow: hidden;
}
.media-info {
    display: block;
    text-align: center;
    margin-top: 0.457em;
    color: var(--lash-high-light);
}
.lash-article-body img,
.lash-article-body video {
    width: 100%;
    height: auto;
    object-fit: cover;
}
@media (min-width: 320px) and (max-width: 640px) {
    .article-container {
        padding: 1.657em;
    }
    .lash-article-body figure {
        font-size: 0.857em;
    }
    .lash-article-body header {
        font-size: 1.675em;
    }
    .lash-article-body figcaption {
        font-size: 1em;
    }
}